<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>496160243049-0ntj27fkicu3tj2e0qs2235s0usknfld.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8NSprog1WEtYnw2QECbVhghHUSJhmMHo</string>
	<key>GCM_SENDER_ID</key>
	<string>496160243049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gapo.work.vn.sdk</string>
	<key>PROJECT_ID</key>
	<string>gapo-2019</string>
	<key>STORAGE_BUCKET</key>
	<string>gapo-2019.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496160243049:ios:98770bda707bcf427811f8</string>
	<key>DATABASE_URL</key>
	<string>https://gapo-2019.firebaseio.com</string>
</dict>
</plist>